<!-- footer -->
<footer class="footer">
  <div class="content has-text-centered is-size-7">
    <p>
      <a href="#top">
        <span class="fas fa-arrow-up"></span>
        <span>Back to Top</span>
      </a>
    </p>

    <!-- required nsf attribution and disclaimer -->
    <div class="columns is-tablet">
      <div class="column is-8 is-offset-2 has-text-grey">
        <figure class="image is-inline-block is-128x128">
          <img src={{ "/images/nsf.png" | relative_url }} style="width: 128px;">
        </figure>

        <p>
          This material is based upon work supported by the <a href="https://www.nsf.gov/">National Science Foundation</a> under <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1833718">Grant No. 1833718</a>.
          Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
        </p>

        <p>
          <a href="{{ site.github.repository_url }}" class="button is-small">
            <i class="fab fa-github-alt"></i>&nbsp;<strong>Github</strong>
          </a>

          <a href="https://fontawesome.com/" class="button is-small">
            <i class="fab fa-font-awesome"></i>&nbsp;<strong>FontAwesome</strong>
          </a>

          <a href="https://bulma.io" class="button is-small">
            <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
