<!-- navigation -->
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.url }}">
        <img src="{{ "/images/favicon.png" | relative_url }}" height="28" alt="USF Logo">
        &nbsp;
        {% include ces.html %}
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="main-menu" class="navbar-menu">
      <div class="navbar-start">
        {%- assign dropdowns = site.collections | where_exp: 'item', "item.label != 'posts'" | sort: "key" -%}
        {%- for dropdown in dropdowns %}

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link{% if page.collection == dropdown.label %} nav-mark{% endif %}">
            <span class="icon">
              <i class="{{ dropdown.icon }}"></i>
            </span>
            <span>
              {{ dropdown.title }}
            </span>
          </a>

          <div class="navbar-dropdown">
            {%- assign items = dropdown.docs | sort: 'key' -%}
            {%- for item in items %}
            <a class="navbar-item" href="{{ item.url }}">
              {%- if item.icon %}
              <span class="icon">
                <i class="{{ item.icon }}"></i>
              </span>
              {% endif -%}
              <span>
                {{ item.title }}
              </span>
            </a>

            {% endfor -%}
          </div>

        </div>

      {% endfor -%}
      </div>

      <div class="navbar-end">
        <a class="navbar-item{% if page.navbar == "About" %} nav-mark{% endif %}" href="{{ "/about.html" | relative_url }}">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          <span>About</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- end navigation -->

<!-- mobile menu responsiveness -->
<!-- https://bulma.io/documentation/components/navbar/ -->
<script>
document.addEventListener('DOMContentLoaded', () => {
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>
<!-- end mobile menu responsiveness -->
