<!DOCTYPE html>
<html>

<!-- head -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="{{ "/css/main.css" | relative_link }}">
<link rel="stylesheet" href="{{ "/css/all.min.css" | relative_link }}">
</head>

<!-- body -->
<body>

{% include header.html %}

{% include navbar.html %}

<section class="section">
<div class="container">

  {% include breadcrumb.html %}

  <h2 class="title is-2">{{ page.title }}</h2>
  {%- if page.date %}<h4 class="subtitle has-text-grey">Posted {{ page.date | date: "%A %b %d, %Y" }}</h4>{% endif -%}

  <!-- content -->
  <div class="content">

    {{ content }}

  </div>
  <!-- end content -->

</div>
</section>


{% include footer.html %}

<!-- end -->
</body>
</html>
